# IDEA 配置
.idea/

# redis
/Secondhand_System/redis/data/
# 忽略 Redis 的持久化数据文件
*.rdb

# Java 编译输出
target/
*.jar
*.class
Secondhand_System/**/target/
# 日志文件
*.log

# Maven 编译状态缓存
**/maven-status/

# Snapshots
**/snapshot/

# SST 和 Options 文件
*.sst
OPTIONS-*
MANIFEST-*

# 前端依赖目录（如 Vue.js/React 项目）
**/node_modules/
# 前端构建产物（如 Vue 的 dist/）
**/dist/
# 前端环境配置（如 .env.local）
**/.env.*